/* ---------->>> IE6 Settings <<<-----------*/

/*.container a   
{background-image:none; cursor:pointer; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/experience-a-program-inner.png", sizingMethod="scale");}   FOR PNG TRANSPARENCY   */  

.middle  {	z-index:-1;}

