.custom_skin div#pilit{
	top:0 !important;
}
.custom_skin div#pilit,
.custom_skin .ace-nav>li,
.custom_skin .ace-nav>li.light-blue>a {
	background-color: transparent !important;
}
.custom_skin div#navbar{
	background-image: url('../images/head_bg.png') !important;
	background-position-y: 200px !important;
}

.custom_skin i.menu-icon.fa,
.skin-1.custom_skin .nav-list>li.active:hover>a,
.skin-1.custom_skin .nav-list>li.active>a {
    color: #70b718 !important;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	border-color: #70b718 !important;
}

.custom_skin .nav-list>li.active:after {
	border-color: #fff !important;
}

.custom_skin  .nav-list>li:hover:before,
.custom_skin  .nav-list>li.active:before {
    background-color: #70b718 !important;
}

.custom_skin .nav-list>li.active>a,
.custom_skin .nav-list>li.active>a:focus,
.custom_skin .nav-list>li.active>a:hover {
    background-color: #3f4e54 !important;
}

.custom_skin .nav-list>li .submenu>li.active:not(.open)>a {
    background-color: #161b1d !important;
}

@media only screen and (max-width: 479px){
	.custom_skin .navbar:not(.navbar-collapse) .navbar-header.navbar-buttons.pull-right {
		float: right!important;
	}
	.custom_skin .navbar:not(.navbar-collapse) .navbar-header {
		display: inline-block!important;
	}
	.navbar:not(.navbar-collapse) .ace-nav>li:first-child {
		border-left: none !important;
	}
}

@media only screen and (max-width: 767px){
	.custom_skin .sidebar.responsive.display {
		width: 100% !important;
	}
}
.custom_skin .navbar .navbar-toggle:hover,
.custom_skin .navbar .navbar-toggle:focus,
.custom_skin .navbar .navbar-toggle:active,
.custom_skin .navbar .navbar-toggle,
.custom_skin .navbar .navbar-toggle.display,
.custom_skin .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    border-color: transparent !important;
	background-color: transparent !important;
}
.custom_skin .navbar .navbar-toggle .icon-bar {
    background-color: #FFF !important;
    border-radius: 0 !important;
    width: 25px !important;
    margin-left: 7px !important;
}
.custom_skin .navbar .navbar-toggle .menu_text {
    color: #fff !important;
    font-size: 7px !important;
    position: absolute !important;
    top: 30px !important;
    left: 7px !important;
    letter-spacing: 2px !important;
}
.custom_skin .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 3px !important;
}
.custom_skin .navbar .navbar-toggle.pull-left {
    margin: 2px 0 4px 6px !important;
}

img.img-responsive.section-sample-layout{
	border: 2px solid #999; 
	border-radius: 10px;
}
.layout-templates{ 
	border: 2px solid #999;  
	border-radius: 14px;    
	width: 91% !important; 
	margin-top: -28px;
	margin-left: 29px;
}
.section-templates{  
	 border: 2px solid #999;
    border-radius: 14px;
    width: 61% !important;
    margin-left: -42px;
    margin-top: -20px;
 }
.section-templates2{
	border: 2px solid #999;
    border-radius: 14px;
    width: 61% !important;
	margin-left: 10px;
} 

button.viewTemplateButton {
	border: 0; 
	background-color: transparent;
}

label.section-label { 
	margin-bottom: 22px
;}
