.custom_skin div#pilit{
	top:0;
}
.custom_skin div#pilit,
.custom_skin .ace-nav>li,
.custom_skin .ace-nav>li.light-blue>a {
	background-color: transparent;
}
.custom_skin div#navbar{
	background-image: url('../images/head_bg.png');
	background-position-y: 200px;
}

.custom_skin i.menu-icon.fa,
.skin-1.custom_skin .nav-list>li.active:hover>a,
.skin-1.custom_skin .nav-list>li.active>a {
    color: #70b718;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	border-color: #70b718;
}

.custom_skin .nav-list>li.active:after {
	border-color: #fff;
}

.custom_skin  .nav-list>li:hover:before,
.custom_skin  .nav-list>li.active:before {
    background-color: #70b718;
}

.custom_skin .nav-list>li.active>a,
.custom_skin .nav-list>li.active>a:focus,
.custom_skin .nav-list>li.active>a:hover {
    background-color: #3f4e54 !important;
}

.custom_skin .nav-list>li .submenu>li.active:not(.open)>a {
    background-color: #161b1d;
}

@media only screen and (max-width: 479px){
	.custom_skin .navbar:not(.navbar-collapse) .navbar-header.navbar-buttons.pull-right {
		float: right!important;
	}
	.custom_skin .navbar:not(.navbar-collapse) .navbar-header {
		display: inline-block!important;
	}
	.navbar:not(.navbar-collapse) .ace-nav>li:first-child {
		border-left: none !important;
	}
}

@media only screen and (max-width: 767px){
	.custom_skin .sidebar.responsive.display {
		width: 100%;
	}
}
.custom_skin .navbar .navbar-toggle:hover,
.custom_skin .navbar .navbar-toggle:focus,
.custom_skin .navbar .navbar-toggle:active,
.custom_skin .navbar .navbar-toggle,
.custom_skin .navbar .navbar-toggle.display,
.custom_skin .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed) {
    border-color: transparent;
	background-color: transparent;
}
.custom_skin .navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
    border-radius: 0;
    width: 25px;
    margin-left: 7px;
}
.custom_skin .navbar .navbar-toggle .menu_text {
    color: #fff;
    font-size: 7px;
    position: absolute;
    top: 30px;
    left: 7px;
    letter-spacing: 2px;
}
.custom_skin .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 3px;
}
.custom_skin .navbar .navbar-toggle.pull-left {
    margin: 2px 0 4px 6px;
}
