<div class="breadcrumbs">
	<script type="text/javascript">
		{literal}
			try {
				ace.settings.check('breadcrumbs', 'fixed')
			} catch (e) {} 
		{/literal}
	</script>
	<ul class="breadcrumb" id="breadcrumbs"> <span class="hid" id="bcActive">{$_breadcrumbs.bcActive}</span>
		<li> <i class="fa fa-home home-icon" id="home"></i> <a href="{$admin_base}">Home</a> </li> {foreach from=$_breadcrumbs.bcPathMenu item=item} {if $item.name != 'Home'}
		<li> <a href="javascript:;" data-smID="{$item.html_id}">{$item.name}</a> </li> {/if} {/foreach} </ul>
</div>
<script>
	{literal}
		var CMS = {}; 
	{/literal}
</script>